.App {
  font-family: sans-serif;
  text-align: center;
}
class Board extends React.Component {
  renderSquare(i) {
    return <Square />;
  }

  .Button {
    padding: 20px;
  }

  .click_number {
    padding: 20px;

  }